tests/ export-ignore
.github/ export-ignore
.php-cs-fixer.dist.php export-ignore
phpstan.neon.dist export-ignore
phpunit.xml.dist export-ignore

/.idea*
vendor
composer.phar
composer.lock
.phpunit.result.cache
.php-cs-fixer.cache
